<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Tentang Kami</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="assets/css/Highlight-Blue.css">
    <link rel="stylesheet" href="assets/css/Highlight-Clean.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <link rel="stylesheet" href="assets/css/Lightbox-Gallery.css">
    <link rel="stylesheet" href="assets/css/Map-Clean.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/Projects-Horizontal.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md fixed-top navigation-clean">
        <div class="container"><a class="navbar-brand" href="#">CV Bangun Karya Sejahtera</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/">Beranda</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="/aboutus">Tentang Kami</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/portofolio">Portofolio</a></li>
                    <!-- <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Dropdown </a>
                        <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">First Item</a><a class="dropdown-item" role="presentation" href="#">Second Item</a><a class="dropdown-item" role="presentation" href="#">Third Item</a></div>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>
    <div class="d-flex d-lg-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center" data-bs-parallax-bg="true" style="height: 50vh;background-image: url(https://images.pexels.com/photos/373912/pexels-photo-373912.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);background-position: center;background-size: cover;margin-top: 3rem;">
        <h1 class="text-center" style="color: rgb(255,255,255);">Tentang Kami</h1>
    </div>
    <div class="highlight-clean">
        <div class="container d-xl-flex justify-content-xl-center">
            <div class="row">
                <div class="col d-xl-flex align-items-xl-center">
                    <div class="intro">
                        <h2 class="text-left">Our Vision</h2>
                        <p class="text-left" style="font-size: 20px;">CV. Bangun Karya Sejahtera bertekad untuk berperan aktif dalam usaha menciptakan pemukiman yang berwawasan lingkungan.<br></p>
                    </div>
                </div>
                <div class="col"><img class="img-fluid d-lg-flex justify-content-lg-center align-items-lg-center" src="https://images.pexels.com/photos/3229/light-bulb-idea.jpg?cs=srgb&amp;dl=light-bulb-idea-3229.jpg&amp;fm=jpg"></div>
            </div>
        </div>
    </div>
    <div class="highlight-blue">
        <div class="container">
            <div class="row">
                <div class="col"><img class="img-fluid d-lg-flex justify-content-lg-center align-items-lg-center" src="https://images.pexels.com/photos/3229/light-bulb-idea.jpg?cs=srgb&amp;dl=light-bulb-idea-3229.jpg&amp;fm=jpg"></div>
                <div class="col d-lg-flex align-items-lg-center">
                    <div class="intro">
                        <h2 class="text-left">Our Mission</h2>
                        <p class="text-left" style="font-size: 20px;">Meningkatkan peran serta dalam pembangunan melalui sektor jasa konstruksi.<br><br>Memberikan Pelayanan tepat guna, tepat waktu, dan tepat kualitas<br></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="map-clean" style="padding-bottom: 40px;">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Kontak Kami</h2>
            </div>
        </div>
        <div class="container">
            <div class="row features">
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-map-marker d-lg-flex justify-content-lg-center icon" style="font-size: 52px;color: #ffa500;"></i>
                    <h3 class="d-lg-flex justify-content-lg-center name">Alamat</h3>
                    <p class="text-center description">Perum Griya Amerta Regency Z-4, Medokan Ayu Utara, Rungkut, Surabaya<br></p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-phone d-lg-flex justify-content-lg-center icon" style="font-size: 52px;color: #ffa500;"></i>
                    <h3 class="d-lg-flex justify-content-lg-center name">Telepon</h3>
                    <p class="text-center description">+62 812 5211 8772<br></p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-envelope-o d-lg-flex justify-content-lg-center icon" style="font-size: 52px;color: #ffa500;"></i>
                    <h3 class="d-lg-flex justify-content-lg-center name">Email</h3>
                    <p class="text-center description">bksejahtera @gmail.com <br></p>
                </div>
            </div>
        </div><iframe allowfullscreen="" frameborder="0" src="https://www.google.com/maps/embed/v1/place?key=kADXMGPVJEb4yYWN9&amp;q=Surabaya%2C+Indonesia&amp;zoom=15" width="0%" height="0"></iframe>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18824.082235119153!2d112.80187030297374!3d-7.322884335174505!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd7f075201743ad%3A0x6d3be78e3fe993ef!2sMedokan%20Ayu%2C%20Kec.%20Rungkut%2C%20Kota%20SBY%2C%20Jawa%20Timur!5e0!3m2!1sid!2sid!4v1595476136711!5m2!1sid!2sid" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
    <div class="footer-basic" style="background-color: #25282b;">
        <footer>
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Beranda</a></li>
                <li class="list-inline-item"><a href="#">Tentang Kami</a></li>
                <li class="list-inline-item"><a href="#">Portofolio</a></li>
            </ul>
            <p class="copyright">CV Bangun Karya Sejahtera © 2020</p>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/Off-Canvas-Sidebar-Drawer-Navbar.js"></script>
    <script src="assets/js/Off-Canvas-Sidebar-Drawer-Navbar-1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
    <script src="assets/js/Table-With-Search.js"></script>
</body>

</html>